@model TicketVenueSystem.Model.Ticket


@{
    ViewData["Title"] = "BookTicket";
}

<h1>BookTicket</h1>



<div>
    <h4>VenueEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venueEvent.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venueEvent.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venueEvent.eventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venueEvent.eventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venueEvent.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Convert.ToDateTime(@Model.venueEvent.startDate).ToString("dd/MM/yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venueEvent.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Convert.ToDateTime(@Model.venueEvent.endDate).ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.venueEvent.hall.hallNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.venueEvent.hall.hallNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.venueEvent.hall.seats)
        </dt>
        @foreach (var item in Model.venueEvent.hall.seats)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.seatNumber)
            </dd>
        }
    </dl>
</div>

<div class="input">
    <form asp-action="BookTicket" asp-controller="VenueEvents">
        <div>
            <label>Email</label>
            <input asp-for="user" placeholder="Enter your email" type="text" />
        </div>
        
        <div>
            <label>Seat</label>
            <input asp-for="seat" placeholder="Enter desired seat" type="text"/>
        </div>

        <div>
            <label>Start Date</label>
            <input asp-for="startDate" type="date"/>
        </div>

        <div>
            <label>End Date</label>
            <input asp-for="endDate" type="date" />
        </div>

        <div>
            <input type="submit" value="Book" class="btn btn-primary"/>
        </div>
    </form>
</div>

<div>
    @Html.ActionLink("Submit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
